<div class="spots-wrapper">
  <div style="width: 100%; height: 320px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="spots">
    <h3 class="text-bold">Tous les spots</h3>
    <div class="filters">
    <%= link_to "Tous", spots_path, class: "btn-filter #{"btn-filter-active" if params[:spots_type].blank?}"%>
      <% Spot::SPOT_TYPES.each do |filter| %>
        <%= link_to filter, spots_path(spots_type: filter), class: "btn-filter #{"btn-filter-active" if params[:spots_type] == filter}"%>
      <% end %>

    </div>
    <% @spots.each do |spot| %>
      <%= link_to spot_path(spot), :"data-aos" => "fade-up", class: "card-spot" do %>
        <div class="card-spot-img">
          <%= cl_image_tag spot.photo.key, crop: :fill %>
        </div>
        <div class="card-spot-info">
          <div class="card-spot-top">
            <div class="card-spot-rating">
              <% spot.rating.floor.times do %>
                <i class="fa-solid fa-paw text-purple"></i>
              <% end %>
              <% if spot.rating < 5 %>
                <% if (spot.rating * 2.0).round / 2.0 - spot.rating.floor == 0%>
                  <i class="fa-solid fa-paw-purple"></i>
                <% else %>
                  <i class="fa-solid fa-paw-half-stroke text-purple"></i>
                <% end %>
                <% (5 - spot.rating.floor).times do %>
                  <i class="fa-solid fa-paw text-purple" style="opacity: 0.3"></i>
                <% end %>
              <% end %>
            </div>
            <div class="card-spot-type">
              <%= image_tag("spot-type-icons/#{spot.spot_type}.svg") %>
              <span class="overtitre text-purple"><%= spot.spot_type %></span>
            </div>
          </div>
          <div class="card-spot-bot">
            <div class="card-spot-title">
              <h3><%= spot.name %></h3>
              <span>à 2km</span>
            </div>
            <div class="card-spot-description">
              <p><%= spot.description.truncate(100) %></p>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
    <div>
      <%= link_to "Crée ton spot", new_spot_path, class: "btn btn-primary me-auto" %>
    </div>
  </div>
</div>
