<div class="back-button text-yellow">
  <i class="fas fa-arrow-left"></i>
  <%= link_to 'Retour', :back, class:'overtitre' %>
</div>
<div class="spot-wrapper">
  <%= image_tag 'chien-mascotte.svg', class:"chien-mascotte", style:"transform:rotate(#{rand(1..360)}deg);" %>
  <%= cl_image_tag @spot.photo.key, crop: :fill, height: 320, class:"spot-image" %>
</div>
<div class="spot mb-5">
  <div class="card-spot-info">
    <div class="card-spot-rating">
      <% @spot.rating.floor.times do %>
        <i class="fa-solid fa-paw text-purple"></i>
      <% end %>
      <% if @spot.rating < 5 %>
        <% if (@spot.rating * 2.0).round / 2.0 - @spot.rating.floor == 0%>
          <i class="fa-solid fa-paw-purple"></i>
        <% else %>
          <i class="fa-solid fa-paw-half-stroke text-purple"></i>
        <% end %>
        <% (5 - @spot.rating.floor).times do %>
          <i class="fa-solid fa-paw text-purple" style="opacity: 0.3"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-spot-type">
      <i class="fa-solid fa-location-dot text-purple me-2"></i>
      <span class="overtitre text-purple"><%= @spot.spot_type %></span>
    </div>
  </div>

  <h1 class="text-purple"><%= @spot.name %></h1>
  <p class="spot-adress"><i class="fa-solid fa-location-dot"></i> <%= @spot.address %></p>
  <p class="spot-description"><%= @spot.description %></p>

  <div class="spot-informations">
    <% case @spot.spot_type %>
    <% when "Balades" %>

      <p><%= @spot.walk_environment %></p>
      <p><%= @spot.walk_area %> espaces</p>
      <p><%= @spot.walk_attendance %> fréquentation</p>
      <%= link_to "Proposer une balade ?", new_spot_walk_path(@spot) , class: "btn btn-primary" %>

    <% when "Commerces" %>
      <% if @spot.shop_cereale %>
        <p>Vend des céréales</p>
      <% end %>
      <% if @spot.shop_vrac %>
        <p>Vend en vrac</p>
      <% end %>
      <% if @spot.shop_insects %>
        <p>Vend de l'alimente à base d'insectes</p>
      <% end %>
    <% when "Vétérinaires" %>
      <p>Spécialité du vétérinaire : <%= @spot.vet_specialty %></p>
    <% when "Pensions" %>
      <% if @spot.pension_pro %>
        <p>Pension professionnelle</p>
      <% end %>
      <% if @spot.pension_walks %>
        <p>Promenades assurées par la pension</p>
      <% end %>
    <% when "Toiletteurs" %>
      <% if @spot.grooming_shop %>
        <p>Grooming shop</p>
      <% end %>
    <% end %>
  </div>

  <h5>Partir en balade</h5>
  <%= simple_form_for [@spot, @walk] do |f| %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.submit "On y va !", class: "btn btn-primary" %>
  <% end %>

  <div class="spot-reviews">
    <h5>Avis</h5>
    <% @spot.reviews.each do |review| %>
      <div class="spot-review">
        <div class="spot-review-info">
          <div class="card-spot-rating">
            <% review.rating.floor.times do %>
              <i class="fa-solid fa-paw text-purple"></i>
            <% end %>
            <% if review.rating < 5 %>
              <% if (review.rating * 2.0).round / 2.0 - review.rating.floor == 0%>
                <i class="fa-solid fa-paw-purple"></i>
              <% else %>
                <i class="fa-solid fa-paw-half-stroke text-purple"></i>
              <% end %>
              <% (5 - review.rating.floor).times do %>
                <i class="fa-solid fa-paw text-purple" style="opacity: 0.3"></i>
              <% end %>
            <% end %>
          </div>
          <div class="card-spot-type">
            <span class="overtitre text-purple"><%= review.dog.name %></span>
            <%= cl_image_tag review.dog.photo.key, crop: :thumb, class: "avatar" %>
          </div>
        </div>
        <p class="card-spot-review"><%= review.content %></p>
      </div>
    <% end %>
  </div>
</div>
