<% if current_user.dog == @dog %>
<% end %>
<div class="dog-profile bg-purple text-center py-4">
  <%= cl_image_tag @dog.photo.key, crop: :fill, class:"avatar-large" %>

  <div class="dog-profile-main-infos">
    <span class="overtitre text-yellow"><%= @dog.date_of_birth %></span>
    <h2 class="m-0"><%= @dog.name.capitalize %> <%= image_tag("form-icons/#{@dog.gender.downcase}.svg") %></h2>
    <span class="overtitre text-yellow"><%= @dog.breed %></span>
  </div>
</div>

<div class="dog-infos">
  <div class="dog-infos-weight border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Poids</h3>
      <a href="" class="dog-weight">Changer le poids</a>
    </div>
    <p class="pb-1"><%= @dog.weight %> kg</p>
  </div>
  <div class="d-flex my-4 gap-4 justify-content-between">
    <div class="btn-square-active col" style="transform:rotate(<%= rand(-5..5) %>deg) translate(2px, 2px) !important;">
      <% case @dog.personality %>
      <% when "Sympa avec tout le monde" %>
        <%= image_tag 'form-icons/sympa.svg' %>
      <% end %>
      <%= @dog.personality %>
    </div>

    <div class="btn-square-active col" style="transform:rotate(<%= rand(-5..5) %>deg) translate(2px, 2px) !important;">
      <% case @dog.health %>
      <% when "Je pète la forme" %>
        <%= image_tag 'form-icons/pete-forme.svg' %>
      <% end %>
      <%= @dog.health %>
    </div>

    <div class="btn-square-active col" style="transform:rotate(<%= rand(-5..5) %>deg) translate(2px, 2px) !important;">
      <% if @dog.neutered %>
        <span>Stérilisé</span>
      <% else %>
        <span>Pas Stérilisé</span>
      <% end %>
    </div>
  </div>

  <% if current_user.dog.friend_with?(@dog) %>
    <p><%= current_user.dog.name %> est ami(e) avec <%= @dog.name %> !</p>
  <% end %>
  <% unless current_user.dog.friend_with?(@dog) || current_user.dog == @dog  %>
    <%= link_to "Ajouter comme ami", dog_friendships_path(@dog), data: { turbo_method: :post }, class: "btn btn-primary" %>
  <% end %>
  <% if current_user.dog == @dog %>
    <%= link_to "se deconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
  <% end %>
  </div>
