<h1>Hello, je suis la show du chien (il me manque un peu de css)</h1>
<h2><%= @dog.name %></h2>
<h2><%= @dog.breed %></h2>
<h2><%= @dog.personality %></h2>
<h2><%= @dog.gender %></h2>
<h2><%= @dog.health %></h2>
<h2>stérilisation?<%= @dog.neutered %></h2>
