<div class="home-container bg-purple friendship-container">


<h1 style="padding-top: 12px;" class="d-flex gap-2">MES <div class="home-info-second">AMIS</div></h1>

<% @friends.each do |friend| %>
  <%= link_to dog_path(friend), class: "dog-card border my-4 d-flex justify-content-between align-items-center" do %>
    <%= cl_image_tag friend.photo.key, crop: :thumb, width: 60, class: "avatar" %>
    <div class="infos-card-dog">
      <h4><%= friend.name %></h4>
      <span><%= friend.breed %></span>
    </div>
    <% case friend.friendship_status_with(current_user.dog) %>
    <% when "pending" %>
      <p class="text-yellow">en attente</p>
    <% when "validated" %>
      <p class="text-success">validée</p>
    <% when "refused" %>
      <p class="text-danger">refusée</p>
    <% end %>
  <% end %>
<% end %>

<h4>Ajouter un ami</h4>
<%= form_with url: friendships_path, method: :get, class: "search-form" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Rechercher par nom"
  %>
  <%= submit_tag "Rechercher", class: "btn btn-primary" %>
<% end %>

<% if @dogs.present? %>
  <% @dogs.each do |dog| %>
    <div class="dog-card border my-4 d-flex justify-content-between align-items-center">
      <%= cl_image_tag dog.photo.key, crop: :thumb, width: 60, class: "avatar" %>
      <div>
        <h4><%= link_to dog.name, dog_path(dog) %></h4>
        <span><%= dog.breed %></span>
      </div>
      <% if current_user.dog.friend_with?(dog) %>
        <p>Déjà ami</p>
      <% else %>
        <%= link_to "Ajouter", dog_friendships_path(dog), data: { turbo_method: :post }, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Aucun résultat</p>
<% end %>
</div>
