<div class="home-container">
  <div class="home-info">
    <h1 class="text-center">TOUT POUR LE <div class="home-info-second">BIEN-ÊTRE</div> DE VOTRE CHIEN</h1>
    <p class="text-center">Un véto, une pension sympa, ou encore une balade entre pet friends, tout ce qu'il vous faut pour prendre soin de votre toutou, à côté de chez vous.</p>
  </div>
  <div class="home-log">
    <% if user_signed_in? %>
      <%= link_to "Créer le profil de mon chien", new_dog_path, class: "btn btn-primary" %>
      <%= link_to "Voir tous les spots", spots_path, class: "btn btn-secondary mt-3" %>
    <% else %>
      <div class="log-in">
      <%= link_to "🐾 je me connecte", new_user_session_path, class: "btn btn-primary" %>
      </div>
      <div class="sign-in">
        <%= link_to "je m'inscris", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
      <div class="sign_out">
      <%= link_to "log out", destroy_user_session_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
  <div class="chien-mascotte-home">
  <%= image_tag 'chien-mascotte.svg'%>
  </div>
</div>
